@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Quantico&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a,
a:active {

    text-decoration: none;
    color: red;

}

body {

    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logo {

    width: 3rem;
    height: 3rem;
    margin-right: 0.25rem;

}

.navbar-brand {

    font-family: 'Bungee Shade', cursive;
    font-size: 1em;
    color: red;
}

.navbar-toggler-icon {

    width: 1.5rem;
    height: 1.5rem;

}

.nav-link {

    font-family: 'Quantico', sans-serif;

}

.btn {

    font-family: 'Quantico', sans-serif;
}

.banners {

    margin-top: 5rem;
}

.banners img {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    border: solid 1px;
    width: 100%;

}

.subtitulo {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 24px;
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.video {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

}

.video-titulo {

    font-family: 'Quantico', sans-serif;
    font-size: 16px;
    color: whitesmoke;

}

.video-formato {

    width: 18rem;
    height: 13, 75rem;
    border: solid whitesmoke 2px;
    transition: width 1s;
    height: 2s;

}

.video-formato:hover {

    width: 19.5rem;
    height: 14rem;
    border: solid 1px red
}

.card {

    width: 180px;
    height: 280px;
    transition: width 1s;
    height: 2s;

}

.card:hover {

    width: 190px;
    height: 290px;
    background-color: black;

}

.cards {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.plataformas {

    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

}

.lista {

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.lista-item {

    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    width: 220px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0);

}

.item {

    font-family: 'Quantico', sans-serif;
    font-size: 1em;

}

.item:hover {

    transform: translate(2px, 0);

}

.item a {

    color: black;
}

.contacto {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 7rem 0;

}

.titulo-contacto {

    display: flex;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    font-family: 'Quantico', sans-serif;
    font-size: 1.5em;

}

.main-contacto {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 10px 0;
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    padding: 10px;

}

.subtitulo-contacto {

    margin: 10px 0;
    color: whitesmoke;
    font-family: 'Quantico', sans-serif;
    text-align: center;

}

.contenido-contacto {

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: whitesmoke;
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.estilo-contacto {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.label {

    color: black;
    text-align: center;
    width: 300px;
    font-family: 'Quantico', sans-serif;
    font-weight: 500;
}

.input {

    display: block;
    width: 300px;
    border-radius: 5px;
    font-size: 1em;
    margin: 10px 0;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    outline: none;
    padding: 10px;
    border: 1px solid red;

}

.btn-contacto {

    outline: none;
    color: whitesmoke;
    border: none;
    background-color: red;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Quantico', sans-serif;
    font-weight: 500;

}

.btn-contacto:hover {

    background-color: black;
}

.footer {

    display: flex;
    font-family: 'Quantico', sans-serif;
    color: whitesmoke;
    justify-content: center;
    padding: 0.5rem;
    margin: 5px;

}

.footer i {

    margin: 0.25rem;
    color: red;

}

.footer-redes {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0.5rem;

}

.footer-redes a {

    display: flex;
    padding: 0.5rem;
    margin: 5px;
    color: whitesmoke;

}

.footer-redes a:hover {

    color: red;

}

@media screen and (min-width:320px) and (max-width:500px) {


    .contenido-contacto {

        width: min-content;
        padding:20px 0 0 0;
        margin: 0;
        font-size: 1em


    }
    
    .main-contacto {

        width: min-content;
        padding: 0;
        margin: 0;
        font-size: 1em;
    
    }

    .titulo-contacto {

        font-size: 1em;
    }

}

@media screen and (min-width: 501px) and (max-width:800px) {

    .contenido-contacto {

        width: min-content;
        font-size: 1em;

    }

    .titulo-contacto {

        font-size: 1em;
    }

}