* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a,
a:active {

    text-decoration: none;
    color: red;

}

body {

    background-color: black;

}

.logo {

    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    
}

.banners {

    margin-top: 7rem;
}

.banners img {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 100%;
    margin-top: 1rem;

}

.subtitulo {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    background-color:whitesmoke;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.2rem;
    margin-bottom: 2rem;

}

.video {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.leyenda strong {

    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
    
.cards {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.img-destacada {

    height: 15.25rem;

}


.contacto {

    display: flex;
    margin-top: 5rem;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    color: white;
    margin: auto;

}

.form input {

    width: 90%;
    height: 30px;
    margin: 0.5rem;
    color: black;
    align-items: center;

}

.form button {

    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;

}

.footer {

    display: flex;
    color: white;
    background-color: red;
    justify-content: center;
    padding: 0.5rem;
    margin: 5px;

}

.footer i {

    margin: 0.25rem;

    }

.redes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0.5rem;
}

.redes a {

    display: flex;
    padding: 0.5rem;
    margin: 5px;

}
