@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Quantico&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a,
a:active {

    text-decoration: none;
    color: red;

}

body {

    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logo {

    width: 3rem;
    height: 3rem;
    margin-right: 0.25rem;
    
}

.navbar-brand {

    font-family: 'Bungee Shade', cursive;
    font-size: 1em;
    color: red;
}

.navbar-toggler-icon {

    width: 1.5rem;
    height: 1.5rem;
    
}

.nav-link {

    font-family: 'Quantico', sans-serif;

}

.btn {

    font-family: 'Quantico', sans-serif;
}

.banners {

    margin-top: 5rem;
}

.banners img {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    border: solid 1px;
    width: 100%;

}

.subtitulo {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 24px;
    color:black;
    background-color:whitesmoke;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.video {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    
}

.video-titulo {

    font-family: 'Quantico', sans-serif;
    font-size: 16px;
    color: whitesmoke;

}

.video-formato {
    
    width: 18rem;
    height: 13,75rem;
    border: solid whitesmoke 2px;
    transition: width 1s; height: 2s;
    
}

.video-formato:hover {

    width: 19.5rem;
    height: 14rem;
    border: solid 1px red

}
.card {

    width: 180px;
    height: 280px;
    transition: width 1s; height: 2s;

}

.card:hover {

    width: 190px;
    height: 290px;
    background-color: black;

}

.cards {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.contacto {

    display: flex;
    margin-top: 5rem;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    color: white;
    margin: auto;

}

.form input {

    width: 90%;
    height: 30px;
    margin: 0.5rem;
    color: black;
    align-items: center;

}

.form button {

    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;

}


.footer {

    display: flex;
    font-family: 'Quantico', sans-serif;
    color: whitesmoke;
    justify-content: center;
    padding: 0.5rem;
    margin: 5px;

}

.footer i {

    margin: 0.25rem;
    color: red;

    }

.footer-redes {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0.5rem;

}

.footer-redes a {

    display: flex;
    padding: 0.5rem;
    margin: 5px;
    color: whitesmoke;
    
}

.footer-redes a:hover {

    color: red;

}