.banners {

    margin-top: 5rem;

    img {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    border: solid 1px;
    width: 100%;

    }
}