.footer {

    display: flex;
    font-family: $tipografia-base;
    color: $color-base;
    justify-content: center;
    padding: 0.5rem;
    margin: 5px;

    i {

        margin: 0.25rem;
        color: $color-destacado;

    }

    &-redes {

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding: 0.5rem;
    }

    &-redes a {

        display: flex;
        padding: 0.5rem;
        margin: 5px;
        color: $color-base;

        &:hover {

            color: $color-destacado;

        }
    }
}