.contacto {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 7rem 0;

}

.main-contacto {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 10px 0;
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    padding: 10px;

}

.subtitulo-contacto {

    margin: 10px 0;
    color: whitesmoke;
    font-family: 'Quantico', sans-serif;
    text-align: center;
}

.contenido-contacto {

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: whitesmoke;
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.estilo-contacto {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.label {

    color: black;
    text-align: center;
    width: 300px;
    font-family: 'Quantico', sans-serif;
    font-weight: 500;
}

.input {

    display: block;
    width: 300px;
    border-radius: 5px;
    font-size: 1em;
    margin: 10px 0;
    font-family: 'Quantico', sans-serif;
    text-align: center;
    outline: none;
    padding: 10px;
    border: 1px solid red;

}

.btn-contacto {

    outline: none;
    color: whitesmoke;
    border: none;
    background-color: red;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Quantico', sans-serif;
    font-weight: 500;

    &:hover {

        background-color: black;
    }
}