.plataformas {

    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    .lista {

        @include flex;
        text-align: center;

        .lista-item {

            @extend .lista;
            list-style: none;
            background-color: $color-base;
            width: 220px;
            border-radius: 10px;
            margin: 10px;
            padding: 10px;
            box-shadow: 0 5px 10px rgb(0, 0, 0);


            .item {

                font-family: $tipografia-base;
                font-size: 1em;

                &:hover {

                    transform: translate(2px, 0);

                    a {

                        color: black;
                    }
                }
            }
        }
    }
}