.navbar-brand {

    display: flex;
    flex-direction: row;
    text-align: justify;
    font-family: 'Bungee Shade', cursive;
    font-size: 1em;
    color: red;

    .logo {

        width: 3rem;
        height: 3rem;
        margin-right: 0.25rem;

    }

}

.navbar-toggler-icon {

    width: 1.5rem;
    height: 1.5rem;

}

.nav-link .form-control .btn-outline-danger {

    font-family: 'Quantico', sans-serif;


}