
.titulo-contacto {

    display: flex;
    justify-content: center;
    text-align: center;
    color: $color-base;
    font-family: $tipografia-base;
    font-size: 1.5em;

}

.subtitulo {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $tipografia-destacada;
    font-size: 1.5em;
    color: black;
    background-color: $color-base;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

