.titulo-contacto {

    display: flex;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    font-family: 'Quantico', sans-serif;
    font-size: 1.5em;

}

.subtitulo {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 24px;
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

